@charset "utf-8";
/* CSS Document */

*{border:0px; padding:0px; margin:0px}
body{font-size:12px; 
	 max-height:100%;
	 font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	 overflow-x:hidden;
	 background:#FFF
}
.wrapper{
	max-width:1024px;
	height:auto;
	margin:0 auto;
	
}
.image_back{
	width:100%;
	background-attachment:fixed;
	background:url(file:///C|/Users/OLIZ/htdocs/M_Polyclinic/image/placeit%20(12).jpg);
	float:left
}
.header{
	width:100%;
	height:auto;
	background:#036;
	padding-bottom:5px;
	padding-top:5px;
	float:left
}
.select_language{
	width:150px;
	height:auto;
	background:rgba(255,255,255,0.3);
	float:right;
	color:#FFF;
	margin:10px auto;
	text-align:left;
	padding:5px
}
.text_top{
	width:auto;
	text-align:left;
	font-size:24px;
	color:#FFF;
	line-height:35px;
	float:left;
	padding-top:10px;
	box-shadow:#999;
	letter-spacing:1px
}
#sidebar{
	width:12.8%;
	height:auto;
	float:left;
	background:#003;
	position:absolute;
	padding:30px;
	z-index:9999
}
.sidebar{
	width:220px;
	margin:0 auto;
}
	.image{
		width:100%;
		height:100px;
		background:#000;
		background-attachment:fixed;
		-moz-background-size:cover;
		-webkit-background-size:cover;
		-ms-backround-size:cover;
	}

.space{
	width:100%;
	background:#F7F7F7;
	float:left;
	padding-bottom:30px
}

.main{
	width:100%;
	height:auto;
	float:left;
}
#icon{
	width:300px;
	height:15em;
	background:url(../image/logo.png) no-repeat center;
	margin:40px auto
}
	#icon1{
	width:180px;
	height:15em;
	margin:0 auto
}
	.list-nav ul{
		width:100%;
		height:auto;
		float:left;
		margin-top:30px
	}
	.list-nav ul li.active{
		color:#000;
		text-shadow:#666;
		background:rgba(255,255,255,0.2);
	}
	.list-nav ul li{
		float:none;
		list-style-type:none;
		line-height:21px;
		padding:5px;
		border-top:1px dotted #CCCCCC
		
	}
	.list-nav ul li a{
		text-decoration:none;
		color:#FFF;
		font-size:13px;
		text-transform:capitalize;
		font-weight:100
	}
	.list-nav ul li a:hover{
		color:#FFC;
	}
	.list-nav ul span{
		width:30px;
		height:30px;
		padding:5px;
		margin-right:10px;
	}
	
.register{
	width:auto;
	height:auto;
	float:right
}
.register li{
	float:left;
	line-height:50px;
	color:#FFF;
	text-decoration:none;
	font-size:12px;
	text-transform:capitalize;
	list-style:none;
	padding-left:10px
}
.register li a{
	line-height:50px;
	color:#FFF;
	text-decoration:none;
}
	
.register li a:hover{
	color:#CCC;
}
.form{
	max-width:450px;
	margin:0 auto;
	height:auto;
	box-shadow: 0px 0px 3px 3px #CCCCCC;
	-moz-box-shadow: 0px 0px 3px 3px #CCCCCC;
	-o-box-shadow: 0px 0px 3px 3px #CCCCCC;
	-webkit-box-shadow: 0px 0px 3px 3px #CCCCCC;
	z-index:-999;
	padding:25px;
	border-radius:3px
}

.login{
	max-width:420px;
	height:auto;
	margin:0 auto;
}
.login h1{
	width:auto;
	background:#F9F9F9;
	line-height:35px;
	padding:10px;
}
.login p{
	width:auto;
	line-height:25px;
	color:#000
}
.login input{
	width:97%;
	height:35px;
	border-radius:3px;
	border:1px solid #CCC;
	margin-top:10px;
	padding-left:10px
}
.login select{
	width:100%;
	height:35px;
	border-radius:3px;
	border:1px solid #CCC;
	margin-top:10px;
	padding-left:10px
}
.login button{
	width:100%;
	height:35px;
	text-align:center;
	background:#036;
	color:#FFF;
	border-radius:3px;
	margin:15px auto;
	cursor:pointer
}

#register_form{
	max-width:720px;
	margin:140px auto;
	height:auto;
}
.register_form1{
	width:330px;
	height:auto;
	float:left;
}
.register_form1 h1{
	width:320px;
	float:left;
	font-weight:normal;
	position:absolute;
}
.register_form1 h2{
	width:320px;
	float:right;
	font-weight:normal;
	position:absolute;
	margin-left:180px
}
.register_form2{
	width:330px;
	height:auto;
	float:right;
}
.register_form2 h1{
	width:140px;
	float:left;
	font-weight:normal;
	position: absolute;
	padding-top: 20px
}
.register_form2 h2{
	width:300px;
	float:left;
	font-weight:normal;
	position:absolute;
	margin:35px 90px
}
.register_form2 h3{
	width:170px;
	float:left;
	font-weight:normal;
	position:absolute;
	margin:35px 260px;
}
.register_form3{
	width:100%;
	height:30px;
	float:left;
}
.register_form3 p{
	width:40px;
	float:left;
	padding-top:10px;
	margin-left:10px;
	margin-top:20px;
}
#register_form input{
	width:100%;
	height:40px;
	border:1px solid #CCC;
	padding-left:10px;
	border-radius:3px
}
#register_form select{
	width:50%;
	height:40px;
	border:1px solid #CCC;
	padding-left:10px;
	border-radius:3px;
}
#register_form button{
	width:auto;
	height:auto;
	text-align:center;
	background:#036;
	padding:10px 30px 10px 30px;
	color:#FFF;
	float:right;
	margin-top:40px;
	cursor:pointer;
}
#register_form label{
	width:100%;
	height:auto;
	line-height:35px;
	font-size:12px;
	text-transform:capitalize;
	float:left
}

#tab{
	width:240px;
	float:right;
}
.click-nav {
		width:auto;
		float:left
	}
	.click-nav ul {
		font-weight:normal;
	}
	.click-nav ul li {
		position:relative;
		list-style:none;
		cursor:pointer;
		line-height:21px;
		text-align:left;
		
	}
	.click-nav ul li ul {
		position:absolute;
		width:150px;
		left:-25px;
		right:0;
	}
	
	.click-nav ul .clicker {
		background:#003;
		color:#FFF;
		margin-top:5px
	}
	.click-nav ul .clicker:hover,
	.click-nav ul .active {
		background:#003;
			transition:0.4s ease-in-out;
			-moz-transition:0.4s ease-in-out;
			-o-transition:0.4s ease-in-out;
			-webkit-transition:0.4s ease-in-out;
	}
	.click-nav span {
		top:1px;
		margin-left:12px;
	}
	.click-nav ul li a {
		transition:background-color 0.2s ease-in-out;
		-webkit-transition:background-color 0.2s ease-in-out;
		-moz-transition:background-color 0.2s ease-in-out;
		display:block;
		padding:10px 10px 10px 10px;
		background:#FFF;
		color:#000;
		text-decoration:none;
	}
	.click-nav ul li a:hover {
		background:#F7F7F7;
	}
	/* Fallbacks */
	.click-nav .no-js ul {
		display:none;
	}
	.click-nav .no-js:hover ul {
		display:block;
	}
	
#type{
	width:100%;
	background:rgba(102,102,102,0.2);
	border-bottom:1px solid #CCC;
	float:left;
}
#type h1{
	width:auto;
	padding:20px;
	font-size:35px;
	color:#000;
	text-transform:capitalize;
	float:left
}

#type h2{
	width:250px;
	height:auto;
	float:right;
}
.type-text{
	width:70px;
	margin:20px auto;
	border-left:1px solid #999;
	float:left
}
.type-text p{
	width:auto;
	font-size:10px;
	color:#000;
	text-align:center;
	text-transform:capitalize;
	font-weight:100
}
.type-text li{
	font-size:20px;
	color:#F00;
	list-style:none;
	text-align:center;
	
}

#table{
	max-width:930px;
	margin:0 auto
}
.container{
	width:100%;
	height:auto;
	float:left;
	border:1px solid #999;
	margin-top:30px;
	background:#FFF;
	padding-bottom:20px
}

.ilist{
	width:100%;
	height:auto;
	float:left;
	background:#CCC
}
.ilist li{
	float:left;
	list-style:none;
	padding:10px 30px 5px 10px;
	line-height:25px
}
.ilist li a{
	text-decoration:none;
	color:#000;
	font-size:12px;
	text-transform:capitalize
}
.ilist li.active{
	background:#FFF;
}
.ilist li span{
	width:40px;
	height:30px;
	float:left;
}
.height{
	width:100%;
	height:auto;
	float:left;
	margin-top:20px;
	margin-bottom:10px
}

.report{
	width:880px;
	height:auto;
	border:1px solid #CCC;
	margin:0 auto
}
.report_content{
	width:500px;
	height:auto;
	margin:50px auto;
}
.report_content h1{
	width:100px;
	height:30px;
	float:left
}
.report_content h2{
	width:50px;
	height:30px;
	float:left;
	font-size:12px;
	font-weight:normal;
	line-height:25px;
	margin-left:30px
}
.report_content label{
	width:140px;
	height:40px;
	float:left;
	font-size:10px;
	color:#333;
	text-align:right;
	text-transform:capitalize;
	margin-top:5px;
	line-height:25px
}
.report_content input, .report_content select{
	width:65%;
	height:30px;
	border:1px solid #CCC;
	float:right;
	margin-bottom:15px;
}
.report_content textarea{
	width:65%;
	height:80px;
	border:1px solid #CCC;
	float:right;
	margin-bottom:15px;
}
.report_content button{
	width:auto;
	height:auto;
	padding:10px 30px 10px 30px;
	color:#FFF;
	background:#036;
	margin-top:30px;
	cursor:pointer;
	margin-left:90px;
	
}
#cat{
	width:108px;
	height:auto;
	background:#FFF;
	padding:10px;
	float:left;
	margin:20px;
	border:1px solid #999;
	text-decoration:none;
	color:#000
}
#cat:hover{
	background:rgba(204,204,204,0.2);
	color:#003;
}
#cat h1{
	width:40px;
	height:30px;
	margin:0 auto;
}
#cat p{
	width:auto;
	line-height:25px;
	font-size:10px;
	color:#000;
	text-align:center;
	text-transform:capitalize
}
.notice{
	width:450px;
	height:300px;
	margin-top:30px;
	margin-right:20px;
	float:right;
	border:1px solid #999;
}
.notice h1{
	width:95.5%;
	height:auto;
	font-size:12px;
	padding:10px;
	float:left;
	background:#CCC;
	text-transform:capitalize;
	font-weight:normal
}
#date{
	width:500px;
	height:350px;
	margin-top:30px;
	margin-left:20px;
	float:left;
	border:1px solid #999;
}
#date h1{
	width:95.9%;
	height:auto;
	font-size:12px;
	padding:10px;
	float:left;
	background:#CCC;
	text-transform:capitalize;
	font-weight:normal
}

#patient_form{
	max-width:640px;
	margin:50px auto;
	height:auto;
}
.patient_form1{
	width:300px;
	height:auto;
	float:left;
}
.patient_form1 h1{
	width:250px;
	float:left;
	font-weight:normal;
	position:absolute;
}
.patient_form1 h2{
	width:300px;
	float:right;
	font-weight:normal;
	position:absolute;
	margin-left:160px
}
.patient_form2{
	width:300px;
	height:auto;
	float:right;
}
.patient_form2 h1{
	width:120px;
	float:left;
	font-weight:normal;
}
.patient_form2 h2{
	width:250px;
	float:left;
	font-weight:normal;
	position:absolute;
	margin:35px 90px
}
.patient_form2 h3{
	width:150px;
	float:left;
	font-weight:normal;
	position:absolute;
	margin:35px 240px;
}
#patient_form input{
	width:100%;
	height:40px;
	border:1px solid #CCC;
	padding-left:10px;
	border-radius:3px
}
#patient_form select{
	width:50%;
	height:40px;
	border:1px solid #CCC;
	padding-left:10px;
	border-radius:3px;
}
#patient_form button{
	width:300px;
	height:auto;
	text-align:center;
	background:#036;
	padding:10px 30px 10px 30px;
	color:#FFF;
	margin:50px auto;
	cursor:pointer;
}
#patient_form label{
	width:100%;
	height:auto;
	line-height:35px;
	font-size:12px;
	text-transform:capitalize;
	float:left
}

table{width: 570px; } 
#theader{
	height: 60px; 
	border: 2px solid #888;
}
 #theader th{
 	border: 1px solid #888;
 	padding: 10px; 
 	border-radius-top-left: 10px;
 }
 #table_body {
 	border: 1px solid #888;
 	} 

 .view:nth-child(even){
 	background: #ddd
 	}

 	#view{

 	}

 .view:nth-child(odd){
 	background: #FFF
 }

 #table_body td{
 	border: 1px solid #888; 
 }

 .table_data{
 	border: 1px solid #888;
  	padding: 10px;
}


@media only screen and ( max-width: 1280px)
{

.wrapper{
	max-width:820px;
	
}
.text_top{
	font-size:20px;
}
.sidebar{
	width:190px;
}
#table{
	width:740px;
}
.report{
	width:680px;
	height:auto;
}
}
